$bg_color: #323232;
$showscolor: #AFAFAF;
$commentlinecolor: #e1e1e1;
$breakpoint-tablet-max: 1279px;
$breakpoint-tablet-min: 768px;
$bg_color: #323232;
@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max){
        div {
        h1      {
            text-align: center;
            color: white;
            margin: 0%;
                }
        }
        .article__image{
            width: 50%;
            padding: 10%;
        }
        .article__quote{
            padding-left: 5%;
            padding-right: 5%;
            margin-left: 5%;
            font-size: 150%;
        }
        .article__quote2{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 120%;
            margin-left: 5%;
        }
        nav{
            background-color: $bg_color;
        }
        .navigation__position{
            display: flex;
            flex-direction: row;
            color:white;
            border: 5px solid $bg_color;
        }
        .navigation__container{
            background-color: $bg_color;
            display: flex;
            padding-bottom: 0px;
        }
        .navigation__condition{
            color: white;
            font-size: 150%;
            padding: 15%;
            border: 5px solid $bg_color;
        }
        .nav__buttons{
            padding: 5px;
            text-align: center;
            color:white;
            font-size: 85%;
            text-decoration: none; 
            background-color: none;
            padding-bottom: 33px;
                  }
        .nav__buttons:hover{
            text-decoration-thickness: 0.8rem;
            border-bottom: 0.3rem solid white;
        }
        .header__title{
            padding-top:20px;
            padding-bottom:20px;
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            align-items: end;
            align-self: flex-end;
            border: 10px solid $bg_color;
            background-color: #323232;
        }
        // #hero__font{
        //     font-size: 300%;
        //     display: flex;
        //     padding-left: 5%;
        // }
        .hero__position{
        padding-left: 0%;
        }
        .hero__image {
            background-image: url(../assets/images/hero-bio.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            color: white;
            padding-top: 15%;
            padding-left: 0%;
            padding-bottom: 15%;
        }
        p{
            padding-left: 5%;
            padding-right: 5%;
        }
        .contact__name, .contact__department{
            font-size: 110%;
            font-weight: 500;
        }
        .socialmedia__icons {
            display: flex;
            justify-content: space-between;
            width: 15%;
            padding-top: 1rem;
            padding-right: 14%;
            align-items: center;
        }
        .contact__address, .contact__email{
            font-weight: 400;
            padding-top: 1rem;
        }
        .contact__email{
            padding-bottom: 1rem;
        }
        .contact_container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        img{
            width: 100%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
      //
      .img__band{
        background-image: url(../assets/images/band.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        color: white;
        transform: scale(0.75);
        font-size: 100px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -6%;
        margin-bottom: -6%;
        padding-top: 30%;
        padding-bottom: 30%;
    }
    // Comment Section Code Starts Here
    #hero__artist{
        font-size: 3.5vw;
        display: flex;
        margin-left: 9%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-bottom: 2%;
    }
    // iframe{
    //     margin-left: 5%;
    //     width: 90vw;
    //     height: 20vw;
    // }
    #hero__font{
        font-size: 8vw;
        display: flex;
        //padding-left: 7%;
        //margin-left: 11.3%;
        font: $commentlinecolor;
        justify-content: flex-start;
        
    }
    .try_this_flex{
        // display: flex;
        // margin: 9%;
        // flex-direction: row;
        // justify-content: space-between;
        // padding-right: 10.5vw;
        display: flex;
        margin: 9%;
        flex-direction: row;
        justify-content: space-between;
        

       // border: 5px solid white;
       // padding-left: 15%;
    }
    textarea {
        resize: none;
        
    }
    #inputtext__name{
        width: 66.0vw;
        height: 2.1vw;
        padding: 1.1vw;
        //margin-left: 2vw;
        border-bottom: 2vw;
        font-size: 1.9vw;
        font-family: myFirstFont;
       background-color:#FAFAFA;
       border-radius: 5px;
       border: 2px solid $commentlinecolor;
    }
    #textarea__comment{
        width: 66.0vw;
        height: 100px;
        font-family: myFirstFont;
        font-size: 1.9vw;
        padding:1vw;
        margin-bottom: 2vw;
        border-radius: 5px;
        background-color:#FAFAFA;
        // margin-left: 6.5vw;
        display: flex;
        justify-content: end;
        border: 2px solid $commentlinecolor;

    }
    .comment__mainbox{
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .comment__maincontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .comment__contents{
        
        display: flex;
        flex-direction: row;
        font-weight: 100;
        font-size: 90%;  
        justify-content: start;
        border-top: 1.8px solid $commentlinecolor;
        width: 80vw;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    .comment__section{
        margin-left: 28%;
        margin-right: 28%;
    }
    .comment_flex_end{
        display: flex;
        justify-content: flex-end;
        padding-top: 1vw;
    }
    .comment__button{
        background-color: $bg_color;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 20vw;
        font-size: 2.1vw;
        border-radius: 5px;
    }
 
 
    .comment__headercontent{
        display: flex;
        flex-direction: column;
        width: 38vw;
      
    }
    
    .comment__image{
   
        width: 4vw;
        height: 4vw;
        background-color: #AFAFAF;
         border-radius: 50%;
    }

    .comment__imgform{
         width: 7vw;
        height: 7vw;
        border-radius: 50%;
 }
    .comment__emptyblock{
        width: 5vw;
    }
    .comment__imagecontent{
        width: 7vw;
        height: 7vw;
        background-color: #AFAFAF;
        border-radius: 50%;
    }
    .second_block_first_row{
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-between;
    }
    .main_comment_di{

        width: 68vw;
        font-family: myFirstFont;
        font-size: 1.9vw;
        padding-top:0.3vw;
        padding-bottom:1vw;
        padding-left:5vw;
        border-radius: 5px;
    }
    .line-1{
        width: 316px;
        background-color: black;
        height: 2px;
        padding: 5px;
    }
    .comment__sbfw{
        display:flex;
        justify-content: space-between;
        align-items: start;
        width: 68vw;
        padding-left: 5vw;
        padding-top: 0%;
    }
    .comment__date{
        color:darkgray;
        font-size: 1.8vw;
    }
    .comment__name{
        font-weight: bold;
        padding-bottom:2%;
        // padding-left: 1vw;
        font-size: 1.8vw;
    }
    .comment__block{
        width: 100%;
        height: 20%;
        border-top: 2px solid $commentlinecolor;
        padding-top: 2%;
        padding-bottom: 5%;
        margin: 10px;
    }
    .main_comment_block_add{
    
        display: flex;
        flex-direction: column;
    }
    .image_oga_flex_row{
    
        display: flex;
        flex-direction: row;
    }
    .button_flex_end{
        display: flex;
        justify-content: flex-end;
    }
    .shows__fullbock{
        padding-left: 5vW;


    }
   
    .shows_titledateOuter{
        font-size: 1.5vw;
        color:$showscolor;
        width: 20vw;
        // padding-bottom: 1vw;

    }
    .shows_titlevenueOuter{
        font-size: 1.5vw;
        color:$showscolor;
        width: 12vw;
    }

    .showstitle_locationOuter{
        font-size: 1.5vw;
        color:$showscolor;
        width: 15vw;
    }
    
    .shows__dateOuter{
        width: 20vw;
        font-weight: bold;
    }
    .submit__button{
        background-color: $bg_color; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1vw;
        border-radius: 5px;
        
    }
    .shows__titlecontainer{

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-top: 2%;
        padding-bottom: 3%;
    }
    .shows__container{

        display: flex;
        flex-direction: row;
        font-weight: 100;
        font-size: 90%;   
        // justify-content: space-around;
        border-bottom: 1.8px solid $commentlinecolor;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .shows__maincontainer{

        display: flex;
        // justify-content: space-between;
       // font-size: xx-large;art
        font-weight: bold;
        margin-left: 1.0%;
        padding-bottom: 2%;
        padding-top: 3%;
        padding-right: 1%;
      //  padding-left: 3.8%;
    }
    .hero__imageshowsindex {
        background-image: url(../assets/images/hero-bio.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        color: white;
        padding-top: 4%;
        padding-left: 0%;
        padding-bottom: 4%;
        
    }

         
    .dateOuter{
        width: 20vw;
    }

        .dateOuter__mobile{
            width: 15vw;
            font-weight: bold;
        }
       
      
        .venueOuter{
            width: 12vw;
        }
        .venueOuter__mobile{
            width: 13vw;
            font-weight: bold;
        }
        .locationOuter{
            width: 17vw;
        }
        .locationOuter__mobile{
            width: 150px;
            font-weight: bold;
        }
        /* .submit__main{
            width: 40vw;
        } */
        .shows_full_block{

            display: flex;
            flex-direction: column;
        }
        .shows__container_mobile{
            display: flex;
            flex-direction: column;
        }
        .hero__imageshows {
            background-image: url(../assets/images/hero-shows.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            color: white;
            padding-top: 4%;
            padding-left: 0%;
            padding-bottom: 4%;
            
        }
      //Added Ends Here
      .article__header{
        //
        font-size: 4vw;
        font-weight: bold;
        margin-left: 5%;
        padding-bottom: 2%;
      //  padding-top: 5%;
        padding-top: 2%;
        padding-right: 4%;
        padding-left: 3.8%;
    }
        .article__headerindex{
            //
            font-size: 4vw;
            font-weight: bold;
            margin-left: 10%;
            padding-bottom: 2%;
            padding-top: 3%;
        }
        .article__content{
            font-size: 120%;
            display: flex;
            margin-left: 5.7%;
            //margin-right: 5%;
            justify-content: space-between;
        }
        .article__title{
            font-size: 3vw;
            font-weight: bold;
            margin-top: 5%;
            padding-left: 5%;
            margin-left: 5%;
        }
        .article__photogallery{
            //
            font-size: 4vw;
            font-weight: bold;
            padding-top: 5%;
            margin-left: 5%;
            padding-bottom: 2%;
          //  padding-top: 5%;
            padding-right: 4%;
            padding-left: 3.8%;
        }
        .section__photogallery{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            object-fit: contain;
            padding-bottom: 4%;
            margin-left: 5%;
            margin-right: 3.5%;
        }
        .photogallery_image{
            padding: 1.5%;
            width: 28%;
            height: 28%;
        }
        footer {
            color:white;
            background-color: $bg_color;
            margin: 0%;
            padding-bottom: 0.5%;          
        }
        .footer__title {
            font-size: 120%;
            padding-right: 0%;       
            color: white;
        }
        .footer__wrap{
        display: flex;       
        }
         .contact{
            padding-bottom: 5%;
            margin-left:0%;
            margin-right:1.5%;
        } 
        #footer__heading{
        color: $bg_color;
        }
        .footer__headingwrap{
            padding-top: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #footer__bandsite{
            font-weight: lighter;
        }
         .footer__block{
            margin: 5%;
            margin-top: 0%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
         .footer__wrap{
            display: flex;
            justify-content: space-between;
        }
        .photograllery__container{
           background-color: #FAFAFA;

        }
    }
  